body {
    background-color: lightblue;

    margin-top:100px;
    margin-bottom:100px;
    margin-right:50px;
    margin-left:80px;

    padding-top:50px;
    padding-right:30px;
    padding-bottom:50px;
    padding-left:80px;
}

p.hobby {
    background-color: darkblue;
}

#article {
    background-color: maroon;
}